.login-section {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--second-color);
  padding: 1rem 6rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section .login-content {
  width: 20rem;
  padding: 1rem;
  box-shadow: 0.01rem 0rem 0.5rem var(--primary-color);
  border-radius: 5px;
  margin-top: 1rem;
}

.login-section .login-content .login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-section .login-content .login-input input {
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0rem;
  border: none;
  width: 80%;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
}

.submit-login {
  background: var(--primary-color);
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.submit-login:hover {
  background: #6e6e5d;
}

.login-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.login-img {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
