:root {
  --primary-color: #9c9c84;
  --second-color: #f3ebeb;
  --third-color: #c9c9bc;
  --light-gray: #bcbcb4;
}

@font-face {
  font-family: "Yaro";
  src: local("Yaro St Thin"), local("Yaro-St-Thin"),
    url("../../Fonts/YaroSt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--second-color);
}
