.capillaryevaluation-section {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--second-color);
  padding: 1rem 6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.capillaryevaluation-section .capillaryevaluation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.capillaryevaluation-section .capillaryevaluation-content .imgforms {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms {
  width: 100%;
  padding: 1rem;
  box-shadow: 0.01rem 0rem 0.5rem var(--primary-color);
  border-radius: 5px;
  margin-top: 1rem;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms
  .capillaryevaluationfields {
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms
  .capillaryevaluationfields
  div {
  padding: 1rem;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms
  .capillaryevaluationfields
  div
  p {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms
  .capillaryevaluationfields
  div
  input {
  cursor: pointer;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms
  .capillaryevaluationfields
  .additionalinfo-input-text {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 0.1rem solid var(--primary-color);
  outline: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.2rem 0rem;
}

.capillaryevaluation-section
  .capillaryevaluation-content
  .capillaryevaluation-forms
  .capillaryevaluationfields
  .additionalinfo-input-text:hover {
  background: #e6e6e0;
}

.man-hair img,
.woman-hair img {
  position: relative;
  width: 350px;
  height: 300px;
}

.show-input {
  display: block;
}

.hide-input {
  display: none;
}

.bodyevaluation-table {
  width: 100%;
  border-spacing: 0px;
}

.bodyevaluation-table th {
  border: 0.01rem solid black;
  padding: 0.5rem;
  text-align: center;
  background: var(--primary-color);
}

.bodyevaluation-table tr td {
  border: 0.01rem solid black;
  padding: 0rem;
  text-align: center;
  width: 100px;
}

.bodyevaluation-table td .input-table {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 800px) {
  .capillaryevaluation-section {
    padding: 1rem 2rem;
  }
}
