@import url("../StandardStyle/StandardStyle.css");

@font-face {
  font-family: "Yaro";
  src: local("Yaro St Thin"), local("Yaro-St-Thin"),
    url("../../Fonts/YaroSt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.home-section {
  width: 100vw;
  min-height: 100vh;
  background: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  font-family: "Yaro";
  padding: 2rem 1rem;
}

.img-transition {
  background-image: url("../../img/WhatsApp\ Image\ 2023-01-04\ at\ 17.37.45.jpeg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(172, 161, 161, 0.173);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.home-section .home-title-group {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
  margin-bottom: 5rem;
}

.home-section .home-title-group h1 {
  font-size: 5rem;
}

.home-section .home-title-group h2 {
  font-size: 2rem;
}

.home-section .home-button-group {
  display: flex;
  flex-direction: column;
}

.home-section .home-button-group button {
  margin-bottom: 1rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  background: var(--primary-color);
  color: var(--second-color);
  border-radius: 5px;
  transition: 250ms;
}

.home-section .home-button-group button:hover {
  background: #6e6e5d;
}

img {
  position: absolute;
  width: 100px;
  height: 100px;
}

img.flower {
  left: 0;
  top: 0;
}

img.double-flower {
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
}

@media (max-width: 700px) {
  .home-section .home-title-group h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 600px) {
  .home-section .home-title-group {
    line-height: 3rem;
    margin-bottom: 3.5rem;
  }

  .home-section .home-title-group h1 {
    font-size: 3.5rem;
  }

  .home-section .home-title-group h2 {
    font-size: 1.5rem;
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}
